<html>
<head>
<title>signin</title>
</head>
<body bgcolor="pink">
<center>
<form>
<form action="/home" method="POST">
<h4>SIGN IN</h4>
<label>Name</label>
<input type="text" placeholder="Enter name"><br><br>
<label>Email</label>
<input type="email" placeholder="Entere Email"><br><br>
<label>Password</label>
<input type="password" placeholder="Enter Password"><br><br>
<label>Gender:</label>
<label>Female</label><input type="checkbox" value="">
<label>Male</label><input type="checkbox" value=""><br><br>
<label>Contact</label>
<input type="number" placeholder="Enter Mobile No."><br><br>
<label>DOB</label>
<input type="date" placeholder="Enter DOB"><br><br>
<input type="submit" value="signin">
</form>
</center>
</body>
</html>