#header{
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: deeppink;
}
#image{
    height: 140px;
    width: 160px;
    margin-top: 90px;
    margin-bottom: 1px;
    margin-left: 50px;
    border: #FAEBD7 6px outset;
}
#name{
    letter-spacing: 0.0em;
}

#web{
    letter-spacing: 0.1em;
    margin-top: 8px;
}
#underline{
    width: 300px;
    height: 6px;
    background-color: cornsilk;
}
.button{
    border-radius: 50px;
    background-color: white;
    border: none;
    text-align: center;
    padding: 10px 20px;
}
#wrapper{
    padding: 0px;
    margin-top: 25px;
}
#progress-bar{
    background-color: rgb(194, 196, 197);
    height: 10px;
    width: 250px;
}
.skills{
    display: grid;
    grid-template-columns: 40fr 4fr;
}
#progresscss{
    background-color: lightseagreen;
    height: 10px;
    width: 150px;
}
#progresshtml{
    background-color: rebeccapurple;
    height: 10px;
    width: 190px;
}
#progressjs{
        background-color: rebeccapurple;
        height: 10px;
        width: 160px;
    }
#progresssketch{
    background-color: rebeccapurple;
            height: 10px;
            width: 160px;
}
#progressxd{
    background-color: lightseagreen;
            height: 10px;
            width: 140px;
}
#progressadobe{
    background-color: lightseagreen;
    height: 10px;
    width: 180px;
}
